{{ define "content" }}
<h1>Edit User</h1>
<form id="user-form">
  <label for="full_name">Full Name:</label>
  <input
    type="text"
    id="full_name"
    name="full_name"
    value="{{ .User.FullName }}"
  /><br />

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" value="{{ .User.Email }}" /><br />

  <label for="telephone">Telephone:</label>
  <input
    type="text"
    id="telephone"
    name="telephone"
    value="{{ .User.Telephone }}"
  /><br />

  <button type="submit">Save Changes</button>
  <button
    class="redBtn"
    onclick="window.location.replace('/user/show'); event.preventDefault()"
  >
    Cancel
  </button>
  <div id="display-error"></div>
</form>
<script src="/static/js/user_edit.js"></script>
<script>
  if ('{{ .User.IsGoogler }}' === 'true')
    document.getElementById('email').setAttribute('readonly', true)
</script>
{{ end }}
